* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f4f6;
}
.home {
    padding: 30px;
}

.movie-grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.form-container {
    max-width: 700px;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.form-container h1 {
    margin-bottom: 20px;
}

.form-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.form-container input,
.form-container select,
.form-container textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.form-container button {
    padding: 12px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}